{% extends 'base.html.twig' %}

{% block title %}Bots{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center mt-1">
        <h3 class="text-dark-to-white">Statistiques pour {{ capital.user.username }}</h2>
        <div class="d-flex flex-row text-dark-to-white">
            <p class="mb-0">Capital : </p><p class="ml-1 mb-0 text-success"> ${{ capital.capital }}</p>
        </div>
        <div class="d-flex flex-row text-dark-to-white">
            <p class="mb-0">Gains totaux : </p><p class="ml-1 mb-0 text-success"> ${{ gainTotal }}</p>
        </div>
        <div class="d-flex flex-row text-dark-to-white">
        {% if app.user %}
            <a href="{{ path('gold_capital_income') }}" class="btn btn-outline-info mb-2 mr-1">Gains / Pertes</a>
        {% endif %}
            <a href="{{ path('gold_graphs', {'username': app.request.attributes.get('_route_params')['username'] }) }}" class="btn btn-outline-info ml-1 mb-2">Graphs</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-dark table-bordered align-middle">
            <thead>
                <tr>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle col-1" scope="col">Date</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle col-1" scope="col">Dépot / Retrait</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle col-1" scope="col">Capital en début de journée</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle col-1" scope="col">Capital en fin de journée</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Montant par jour</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Pourcentage par jour</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Montant des 7 derniers jours</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Pourcentage des 7 derniers jours sans interêts composés</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Pourcentage des 7 derniers jours avec interêts composés</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Montant des 30 derniers jours</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Pourcentage des 30 derniers jours sans interêts composés</th>
                    <th class="table-condensed p-1 bg-warning table-bg-grey table-border-white text-dark text-center align-middle" scope="col">Pourcentage des 30 derniers jours avec interêts composés</th>
                </tr>
            </thead>
            <tbody>
                {% for key, incomes in incomeList %}
                    <tr class="{{ (incomes[0].isSunday) ? "table-sunday-bottom-border" : "" }} {{ (incomes[0].isFirstDayOfTheMonth) ? "table-first-day-month-background" : "" }}">
                        <th class="text-center m-0 p-0 table-condensed  align-middle {{ (incomes[0].isFirstDayOfTheMonth) ? "table-first-day-month-background" : (incomes[0].isThousandMore) ? "table-is-thousand-more" : (incomes[0].isHundredMore) ? "table-is-hundred-more" : "table-bg-grey" }} table-border-white text-dark">{{ key|date('d/m/Y') }}</th>
                        {% if incomes != 0 %}
                            {% if capitalUpdates[key] is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-center align-middle">
                                    {% for capitalUpdate in capitalUpdates[key] %}
                                        <div>
                                            ${{ capitalUpdate.montant }}
                                        </div>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed table-border-white text-center  align-middle">
                                    -
                                </td>
                            {% endif %}
                            <td class="m-0 p-0 table-condensed table-border-white text-end align-middle">
                                ${{ incomes[0].beforeUpdate|number_format(2) }}
                            </td>
                            <td class="m-0 p-0 table-condensed table-border-white text-end align-middle">
                                ${{ incomes|last.afterUpdate|number_format(2) }}
                            </td>
                            <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle bg-success">
                                {% for income in incomes %}
                                    <div class=" 
                                        {% if income.type == 'Gain' %}
                                            {{ 'bg-success' }}
                                        {% elseif income.type == 'Perte' %}
                                            {{ 'bg-danger' }}
                                        {% elseif income.type == 'NONE' %}
                                            {{ 'bg-info' }}
                                        {% endif %}
                                        ">
                                        ${{ income.montant|number_format(2) }}
                                    </div>
                                {% endfor %}
                            </td>
                            <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle bg-success">
                                {% for income in incomes %}
                                    <div class=" 
                                        {% if income.type == 'Gain' %}
                                            {{ 'bg-success' }}
                                        {% elseif income.type == 'Perte' %}
                                            {{ 'bg-danger' }}
                                        {% elseif income.type == 'NONE' %}
                                            {{ 'bg-info' }}
                                        {% endif %}
                                        ">
                                        {{ income.percentage|number_format(2) }}%
                                    </div>
                                {% endfor %}
                            </td>
                            {% if incomes[0].sevenDaysAmount is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].sevenDaysAmount > 0) ? "bg-success" : (incomes[0].sevenDaysAmount < 0) ? "bg-danger" : "bg-info"}}">
                                    ${{ incomes[0].sevenDaysAmount|number_format(2) }}
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                            {% if incomes[0].sevenDaysPercentageWithoutInterest is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].sevenDaysPercentageWithoutInterest > 0) ? "bg-success" : (incomes[0].sevenDaysPercentageWithoutInterest < 0) ? "bg-danger" : "bg-info"}}">
                                    {{ incomes[0].sevenDaysPercentageWithoutInterest|number_format(2) }}%
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                            {% if incomes[0].sevenDaysPercentageWithInterest is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].sevenDaysPercentageWithInterest > 0) ? "bg-success" : (incomes[0].sevenDaysPercentageWithInterest < 0) ? "bg-danger" : "bg-info"}}">
                                    {{ incomes[0].sevenDaysPercentageWithInterest|number_format(2) }}%
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                            {% if incomes[0].thirtyDaysAmount is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].thirtyDaysAmount > 0) ? "bg-success" : (incomes[0].thirtyDaysAmount < 0) ? "bg-danger" : "bg-info"}}">
                                    ${{ incomes[0].thirtyDaysAmount|number_format(2) }}
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                            {% if incomes[0].thirtyDaysPercentageWithoutInterest is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].thirtyDaysPercentageWithoutInterest > 0) ? "bg-success" : (incomes[0].thirtyDaysPercentageWithoutInterest < 0) ? "bg-danger" : "bg-info"}}">
                                    {{ incomes[0].thirtyDaysPercentageWithoutInterest|number_format(2) }}%
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                            {% if incomes[0].thirtyDaysPercentageWithInterest is defined %}
                                <td class="m-0 p-0 table-condensed table-border-white text-dark text-end align-middle {{ (incomes[0].thirtyDaysPercentageWithInterest > 0) ? "bg-success" : (incomes[0].thirtyDaysPercentageWithInterest < 0) ? "bg-danger" : "bg-info"}}">
                                    {{ incomes[0].thirtyDaysPercentageWithInterest|number_format(2) }}%
                                </td>
                            {% else %}
                                <td class="m-0 p-0 table-condensed text-center align-middle">
                                    -
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}