{% extends 'base.html.twig' %}

{% block title %}Trackmania{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-6">
        <h5 class=" pt-2 text-dark-to-white d-flex justify-content-center">AJouter une map</h5>
        {{ form_start(mapForm) }}
            {{ form_row(mapForm.name) }}
            <div class="d-flex justify-content-center">
                {{ form_row(mapForm.submit) }}
            </div>
        {{ form_end(mapForm)}}
    </div>
    <div class="col-6">
        <h5 class=" pt-2 text-dark-to-white d-flex justify-content-center">AJouter une catégorie</h5>
        {{ form_start(categoryForm) }}
            {{ form_row(categoryForm.name) }}
            <div class="d-flex justify-content-center">
                {{ form_row(categoryForm.submit) }}
            </div>
        {{ form_end(categoryForm)}}
    </div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}