{% extends 'base.html.twig' %}

{% block title %}Trackmania{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-1">
        </div>
        <div class="col-2 d-flex justify-content-center">
            <div>
                <div class="p-3 border bg-light row p-1 m-0 maps-buttons">
                {% for map in maps %}
                    
                    <button type="button" class="btn btn-outline-info col-6 p-0" style="font-size: 0.8em;">{{ map.name }}</button>
                {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light row maps">
            </div>
        </div>
        <div class="col-2">
            <div class="pb-1">
                <div class="p-3 border bg-light d-flex flex-column">
                    <button type="button" class="btn btn-outline-success ">Ajouter une map</button>
                    <div class="border-0 bg-light mt-2 mx-auto d-flex flex-column">
                        <button type="button" class="btn btn-outline-info mt-1" data-category="0">Toutes les maps</button>
                        <h5 class="text-dark-to-white pt-2">Afficher seulement :</h5>
                        {% for category in categories %}
                            <button type="button" class="btn btn-outline-info mt-1" data-category="{{ category.id }}">{{ category.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="p-3 border bg-light">
                <h5 class="text-dark-to-white">Liens du site :</h5>
                <div>
                    <a href="{{ path('home') }}" class="text-dark-to-white" >Home</a>
                </div>
                <h5 class="pt-4 text-dark-to-white">Joueurs :</h5>
                <div>
                    <a href="#" class="text-dark-to-white">PierreYvesse</a>
                </div>
                <div>
                    <a href="#" class="text-dark-to-white">JKawn glacé</a>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
    <template id="map-template">
        <div class="px-1 col-6 map">
            <div class="card border-primary mb-2">
                <div class="card-header text-dark-to-white row" style="font-size: 0.8rem;"><a href="#" class="text-dark-to-white col-7 p-0 map__name" ></a><div class="col-5 row"><p class="pl-1" style="font-size: 0.5rem;"> WR : </p><p class="pl-0 map__world-record"></p></div></div>
                <div class="card-body px-3 py-2">
                    <p class="my-0 map__category" style="font-size: 0.8rem;"></p>
                </div>
            </div>
        </div> 
    </template>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/trackmaniaComponents/mapsList.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/map.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/nav.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/trackmaniaApp.js') }}"></script>
{% endblock %}

