{% extends 'base.html.twig' %}

{% block title %}Trackmania{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-1">
        </div>
        <div class="col-2 d-flex flex-column">
            <div>
                <div class="p-3 border bg-light row p-1 m-0 maps-buttons">
                {% for mapOrdered in mapsOrdered %}
                    <a href="#map-{{ mapOrdered.id }}" class="col-12 p-0 map-button" data-category="{{ mapOrdered.category.id }}" data-map-id="{{ mapOrdered.id }}"><button type="button" class="btn btn-outline-info col-12 p-0" style="font-size: 0.8em;">{{ mapOrdered.name }}</button></a>
                {% endfor %}
                </div>
            </div>
            <div class='sticky-top'>
                <div class="p-3 border bg-light row p-1 m-0 maps-buttons ">
                    <a href="#" class="col-12 p-0"><button type="button" class="btn btn-outline-info col-12 p-0" style="font-size: 0.8em;">Back to top</button></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light row maps">
            {% for map in maps %}
            {% set worldRecordToFormat = (((map.worldRecord * 1000) % 60000) / 1000)|number_format(3) %}
            {% set formatedWorldRecord = worldRecordToFormat < 10 ? (0 ~ worldRecordToFormat) : worldRecordToFormat %}
            {% set worldRecord = (map.worldRecord // 60) ~ ':' ~ formatedWorldRecord %}
                <div class="px-1 col-6 map" data-category="{{ map.category.id }}" data-map-id="{{ map.id }}" id="map-{{ map.id }}">
                    <div class="card border-primary mb-2">
                        <div class="card-header text-dark-to-white row pb-0" style="font-size: 0.8em;">
                            <p class="text-dark-to-white col-7 p-0 map__name mb-0" >{{ map.name }}</p>
                            <div class="col-5 row">
                                <p class="pl-1" style="font-size: 0.5rem;"> WR : </p>
                                <p class="pl-0 map__world-record mb-0">{{ worldRecord }}</p>
                            </div>
                        </div>
                        <div class="card-body px-3 py-1">
                            <p class="my-0 map__category" style="font-size: 0.6rem;">{{ map.category.name }}</p>
                        </div>
                        <div class="d-flex flex-column p-0">
                            <table class="table table-dark table-striped m-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class='p-2 fs-6'>Pseudo</th>
                                        <th scope="col" class='p-2 fs-6'>Top</th>
                                        <th scope="col" class='p-2 fs-6 '>Temps</th>
                                        <th scope="col" class='p-2 fs-6'>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stat in map.mapHasUserStats %}
                                    {% set recordToFormat = (((stat.record * 1000) % 60000) / 1000)|number_format(3) %}
                                    {% set formatedRecord = recordToFormat < 10 ? (0 ~ recordToFormat) : recordToFormat %}
                                    {% set record = (stat.record // 60) ~ ':' ~ formatedRecord %}
                                    <tr>
                                        <th scope="row" class='p-2'>{{ stat.user.username }}</th>
                                        <td class='p-2'>{{ stat.top }}</td>
                                        <td class='p-2'>{{ record }}</td>
                                        <td class='p-2'>boutons</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <div class="sticky-top">
                <div class="pb-1">
                    <div class="p-3 border bg-light d-flex flex-column">
                        {% if app.user %}
                        <a href="{{ path('trackmania_add') }}" class="btn btn-outline-success ">Ajouter</a>
                        <a href="{{ path('trackmania_delete') }}" class="btn btn-outline-danger mt-1">Supprimer</a>
                        {% endif %}
                        <button type="button" class="btn btn-outline-info mt-1 px-0 select-category-button" id="AllMapSelectButton" data-category="0">Toutes les maps</button>
                        <h5 class="text-dark-to-white pt-2">Afficher seulement :</h5>
                        {% for category in categories %}
                            <button type="button" class="btn btn-outline-info mt-1 px-0 select-category-button" data-category="{{ category.id }}">{{ category.name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="p-3 border bg-light">
                    <h5 class="text-dark-to-white">Liens du site :</h5>
                    <div>
                        <a href="{{ path('home') }}" class="text-dark-to-white" >Home</a>
                    </div>
                    <h5 class="pt-4 text-dark-to-white">Joueurs :</h5>
                    <div>
                        <a href="#" class="text-dark-to-white">PierreYvesse</a>
                    </div>
                    <div>
                        <a href="#" class="text-dark-to-white">JKawn glacé</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
    <template id="map-template">
        <div class="px-1 col-6 map">
            <div class="card border-primary mb-2">
                <div class="card-header text-dark-to-white row" style="font-size: 0.8rem;"><a href="#" class="text-dark-to-white col-7 p-0 map__name" ></a><div class="col-5 row"><p class="pl-1" style="font-size: 0.5rem;"> WR : </p><p class="pl-0 map__world-record"></p></div></div>
                <div class="card-body px-3 py-2">
                    <p class="my-0 map__category" style="font-size: 0.8rem;"></p>
                </div>
            </div>
        </div> 
    </template>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/trackmaniaComponents/mapsList.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/map.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/nav.js') }}"></script>
<script src="{{ asset('assets/js/trackmaniaComponents/trackmaniaApp.js') }}"></script>
{% endblock %}

